.outerInfoBlock{
    width: auto;
    margin-top: 5em;
}

.infoBlock{
    margin:auto;
    padding: 1em;
    display: flex;
    max-width: 60em;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    background-color: inherit;
}

.infoBlock.mirrored{
    flex-direction: row-reverse;
}

.outerInfoBlock.colored{
    background-color: #580030;
    padding-top: 2.5em;
    padding-bottom: 2.5em;

}

.textPart{
    margin:auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 45%;
    background-color: inherit;
}

.picturePart{
    display: flex;
    margin:auto;
    max-width: 45%;
}

img{
    max-width: 100%;
    height: auto;
}

h1 {
    color: purple;
    background-color: inherit;
}

.outerInfoBlock.colored h1 {
    color: #E6E1DE;
}

h2 {
    color: red;
    background-color: inherit;
}

p{
    background-color: inherit;
}

.outerInfoBlock.colored p {
    color: #E6E1DE;
}

@media (max-width:640px){
    .infoBlock{
        padding:10px;
        flex-direction: column;
    }
    .infoBlock.mirrored{
        padding:10px;
        flex-direction: column;
    }
    .textPart{
        max-width: 90%;
    }
    .picturePart{
        max-width: 90%;
    }
}