.infoBlock{
    margin:auto;
    margin-top: 5em;
    padding: 1em;
    display: flex;
    max-width: 60em;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}


.infoBlock.mirrored{
    flex-direction: row-reverse;
}

.textPart{
    margin:auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 45%;
}

.picturePart{
    display: flex;
    margin:auto;
    max-width: 45%;
}

img{
    max-width: 100%;
    height: auto;
}

h1 {
    color: purple;
}

h2 {
    color: red;
}

@media (max-width:640px){
    .infoBlock{
        padding:10px;
        flex-direction: column;
    }
    .infoBlock.mirrored{
        padding:10px;
        flex-direction: column;
    }
    .textPart{
        max-width: 90%;
    }
    .picturePart{
        max-width: 90%;
    }
}

@media (min-width:1024px){
    .infoBlock{
        flex-direction: row;
    }
    .infoBlock.mirrored{
        flex-direction: row-reverse;
    }
}

